body{
    background-image: url('../images/bg-01.jpg');
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}




body::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.9);
}

.poll_parag{
    width: 70%;
    text-align: left;
    margin: auto;
    background: rgba(255,255,255,0.2);
    border-radius: 20%;
    padding: 3%;
}

.poll-btn-cont{
    width: 100%;
    margin-top: 1%;
}


.btn-vote{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.poll{
    width: 100%;
    text-align: center;
}

.poll_desc{
    font-size: 2rem;
    margin-top: 1%;
}

.nav_header{
  background: -webkit-linear-gradient(right, #7579ff, #b224ef);
  color: white;
}
.nav_text{
  font-size: 1.3rem;
  font-weight: 700;

}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

.nav_logo{
  font-size:1.3rem;
  font-weight: 1000;
}